/* Add CSS for the admin panel container */
.admin-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    
  }
  
  /* Style the header section */
  h2 {
    color: #f7f7f7;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style the Refresh Data button */
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  /* Style table header */
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  /* Style even and odd table rows differently for better readability */
  tr:nth-child(even) {
    background-color: #2e2828;
    color: white;
  }
  tr:nth-child(odd) {
    background-color: #4d4848;
    color: white    ;
  }  
  /* Style the buttons in the table */
  button.table-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
  }
  
  button.table-button:hover {
    background-color: #005f76;
  }
  
  /* Style the "Add New Data" section */
  .input-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* Style the "Add" button in the "Add New Data" section */
  button.add-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.add-button:hover {
    background-color: #005f76;
  }
  