/* style.css */

.body1 {
  background-color: #262626; /* Dark background color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff; /* Text color */

  /* Optional background image: */
  background-image: url('./ONLINE-LEARNING-bg.webp');
  /* background-size: cover; */
  /* background-position: center; */
 

  /* Animation for the heading */
  animation: fadeIn 1s ease-in-out;
}

.home-heading {
  font-size: 36px;
  margin: 10px;
}

.home-heading1 {
  font-size: 24px;
  margin: 10px;
}

.para {
  font-size: 18px;
}

.homeButton1 {
  background-color: #ff6600; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;

  /* Hover effect */
  transition: background-color 0.3s ease-in-out;
}

.homeButton1:hover {
  background-color: #ff8533; /* Hovered button background color */
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* .body1 {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.home-heading {
  font-size: 28px;
  color: #333;
}

.home-heading1 {
  font-size: 18px;
  color: #666;
}

.para {
  font-size: 16px;
  color: #888;
  margin-top: 20px;
}

.homeButton1 {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.homeButton1:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .body1 {
    padding: 10px;
  }

  .home-heading {
    font-size: 24px;
  }

  .home-heading1 {
    font-size: 16px;
  }

  .para {
    font-size: 14px;
  }

  .homeButton1 {
    padding: 8px 16px;
    font-size: 16px;
  }
} */
